.container{
  width: 65%;
  position: relative;
  overflow: auto;
  margin: 1.5rem 0 4rem;
  height: 600px;
  overflow: auto;
  border: 1px solid var(--gray-800); 
  
  table{
    min-width: 500px;
    width: 100%;
    border-spacing: 0 .5rem;
    border-collapse: collapse;
    thead{
      position: sticky;
      top: 0;
      left: 0; 
      background: var(--gray-800);
      tr{
        th{
          padding: 1rem;
          &:last-child{
            width: 15%;
          }
        }
      }
    }
    
    tbody{
      tr{
        border-bottom: 1px solid var(--gray-50);

        time{
          font-size: .8rem;
          z-index: -1;
        }

        td{
          padding: 1rem 2rem;

          &:first-child{
            width: 130px;
            max-width: 130px;
            color: var(--red-400)
          }

          &:nth-child(2){
            position: relative;
          }
          &:last-child{
            text-align: right;

            button{
              cursor: pointer;
              height: 2.5rem;
              background: var(--red-400);
              border: none;
              color: var(--white);
              width: 100px;
              border-radius: .5rem;
              transition: .3s; 
              
              &:hover{
                background: var(--red-500);
              }
            }
          }
          text-align: center;
        }
      }
    }
  }
}

.listOfItems{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .5rem 0;
  background: var(--gray-800);

  ul{
    list-style-type: none;

    li{
      display: flex;
      align-items:center;
      font-size: .9rem;
    }
    
  }

  img{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    opacity: .8;

    &:hover{
      opacity: 1;
    }
  }

  button{
    cursor: pointer;
    height: 3.5rem;
    background: var(--red-400);
    border: none;
    color: var(--white);
    width: 200px;
    border-radius: .5rem;
    transition: .3s; 
    
    &:hover{
      background: var(--red-500);
    }
  }

}

@media (max-width: 1080px) {
  .container{
    width: 100%;
    table{
      tbody tr td{
        font-size: .9rem;

        &:first-child{
          max-width: 300px;
        }
      }
    }
  }
}