.wrapper{
  width: 100%;
  min-height: calc(100vh - 7rem);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem;
}

.validation{
  max-width: 1080px;
  display: flex;
  margin: 0 auto;
  margin-top: -12rem;
  flex-direction: column;
  align-items: center;

  input, button{
    max-width: 600px;
    width: 100%;
    display: inline-block;
    height: 3.5rem;
    border-radius: 8px;
    border: none;
  }

  h2{
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  input{
    background: var(--gray-800);
    padding-left: 1.5rem;
    color: #fff;
    &:focus{
      outline: none;
    }
  }

  button{
    background: var(--red-400);
    transition: 0.2s;
    color: #fff;
    margin-top: 1rem;
    font-weight: 500;

    &:hover{
      background: var(--red-500)
    }
  }
}