.componentExample {
  position: relative;
  margin-top: 3rem;
  padding: 7rem 0;
  margin-bottom: 8rem;

  span,
  svg {
    position: absolute;
  }
  span {
    font-family: "Roboto";
    max-width: 200px;
    text-align: justify;
    font-weight: bold;
  }

  .imageWrapper {
    padding: 2rem;
    border-radius: 1rem;
    background: var(--red-900);

    &:hover {
      img {
        transform: rotate(90deg);
      }
    }
    img {
      transition: 0.4s;
    }
  }

  .imageHelp {
    top: 0;
    left: 15rem;
  }
  .selectHelp {
    top: 0;
    right: 13rem;
  }
  .productHelp {
    max-width: 330px;
    bottom: -2rem;
    left: 29rem;
  }

  .arrowS,
  .arrowI {
    display: none;
    left: 50%;
    transform: translateX(-50%) scale(0.6);
  }

  svg.image {
    top: 0.75rem;
    left: 7rem;
  }
  svg.select {
    top: 0.75rem;
    right: 5rem;
  }
  svg.product {
    bottom: 0;
    left: 20rem;
    // transform: translateX(-50%);
  }

  button {
    padding: 0.75rem 3rem;
    cursor: pointer;
    border-radius: 0.5rem;
    background: var(--red-400);
    transition: 0.2s;
    border: none;
    color: var(--white);
    &:hover {
      background: var(--red-500);
    }
  }

  .wrapper {
    transition: 0.2s;
    gap: 2rem;
    width: 100%;
    background: var(--gray-800);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
  }
}

@media (max-width: 1023px) {
  .componentExample {
    margin-top: 10rem;
    .wrapper {
      flex-direction: column;
      text-align: center;
      gap: 1rem;
    }

    p + p + p {
      font-weight: bold;
      color: var(--red-400);
      font-size: 2rem;
    }

    span.productHelp {
      left: 50%;
      top: -1.2rem;
      max-width: 300px;
      width: 100%;
      transform: translateX(-50%);
    }
    .selectHelp {
      left: 50%;
      transform: translateX(-50%);
      right: auto;
      bottom: -1.2rem;
      top: auto;
    }
    .arrowS,
    .arrowI {
      display: block;
    }

    .arrowS {
      bottom: 2rem;
    }

    .arrowI {
      transform: translateX(-50%) scale(0.6) rotate(180deg);
      top: 2rem;
    }

    .imageHelp,
    svg.image,
    svg.select,
    svg.product {
      display: none;
    }
  }
}