* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #85ff33;
  --white: #f8f0fb;
  --white-75: rgba(255, 255, 255, 0.75);
  
  --red-300: rgba(51, 22, 24, .5);
  --red-400: #ef233c;
  --red-500: #d90429;
  --red-900: #331618;
  
  --gray-50: rgba(113, 113, 111, 0.47);
  --gray-100: #b8b8b0;
  --gray: #72726f;
  --gray-600: #64595b;
  --gray-700: #352f2f;
  --gray-800: #272323;

  --black-50: #161313;
  --black: #141301;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: #352f2f;
  border-radius: 0.35rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background-color: #64595b;
  height: 0.5rem;

  &:focus {
    background-color: #eee;
  }
}

html {
  overflow: hidden;
}

body {
  background: var(--black);
  color: var(--white);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 5, 5rem;
}

h2 {
  font-size: 4.5rem;

  span{
    color: var(--red-400);
  }
}

a {
  color: inherit;
  text-decoration: none;
}
