.container{
  width: 100vw;
  height: calc(100vh - 5rem);
  padding: 4rem;
}

.componentInfo{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  max-height: 8rem;

  div p{
    color: var(--white-75);
  }
}

.productTableSection{
  width: 100%;
  margin-top: 3rem;
}

.contentHelp	{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;

  *{
    text-align: center;
  }

  a{
    width: 280px;
    text-align: center;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 1rem;
    background: var(--red-400);
  }

  h2 span, p span{
    color: var(--red-400);
  }
  p{
    width: 100%;
    max-width: 1000px;
    line-height: 160%;
    font-size: 1.15rem;
    margin-top: 1rem;
    color: var(--white-75);
  }

  ol{
    list-style: none;
    margin: 2rem 0;
    font-size: 1.25rem;

    li span{
      color: var(--red-400);
    }

    li+ li{
      margin-top: .5rem;
    }
  }
}

.finishLink{
  display: inline-block;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid var(--red-500);
  padding: 1rem 2rem;
  border-radius: 1rem;
  &:hover{
    color: var(--red-400);
  }
}

.sendSetup{
  margin-top: 7rem;
  width: calc(100vw - 8rem);
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3{
    margin-bottom: 3rem;
    font-size: 3rem;
    width: 100%;
    text-align: center;
    max-width: 800px;
    span{ color: var(--red-400);}
  }

  .sendSetupForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    input, button{
      height: 3.5rem;
      width: 30%;
      max-width: 360px;
      border: 1px solid var(--gray-800);
      border-radius: .5rem;
      color: var(--white);
      
      &:focus{
        outline: none;
      }
    }
    
    
    input{
      padding: 0 1rem;
      background: var(--gray-800);
    }

    button{
      margin-top: .75rem;
      cursor: pointer;
      background: var(--red-400);
      transition: .2s;
      &:hover{
        background: var(--red-500);
      }
    }
  }
}