.wrapper{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--gray-800);

  display: flex;
  align-items: center;
  justify-content: center;
}

.skipButton{
  margin: 1rem auto;
  float: right;
  height: 3rem;
  width: 120px;
  background: transparent;
  border: 1px solid var(--red-400);
  color: var(--white);
  border-radius: .5rem;
  transition: .3s;
  &:hover{
    background: var(--red-400);
  }
}