.skipButton{
  // position: absolute;
  // bottom: 1rem;
  // left: calc(50% - 40px);
  margin: 2rem 0;
  float: right;
  height: 3rem;
  width: 120px;
  background: transparent;
  border: 1px solid var(--red-400);
  color: var(--white);
  border-radius: .5rem;
  transition: .3s;
  &:hover{
    background: var(--red-400);
  }
}