.container{
  width: 100vw;
  padding: 4rem;
}

.content{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h2{
    width: 100%;
  } 
}

.saveNewComponents{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, var(--black), transparent);

  button{
    cursor: pointer;
    max-width: 280px;
    width: 100%;
    height: 3.5rem;
    background: var(--red-400);
    color: var(--white);
    border: none;
    border-radius: .5rem;
    transition: .3s;
    &:hover{
      background: var(--red-500);
    }
  }
}

.changePrice{
  margin-top: 1rem;
  position: relative;
  span{
    display: inline-block;
    color: var(--white-50);
    opacity: .8;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  input, button{
    height: 3rem;
    font-size: 1rem;
    border: none;
    padding: 0 1.5rem;
    border-radius: 0.5rem;
    color: var(--white);
    &:focus {
      outline: none;
    }
  }
  
  input{
    min-width: 160px;
    background: var(--gray-800); 
  }
  
  button{
    background: var(--red-400);
    min-width: 160px;
    font-size: 1.1rem;
    margin-left: 0.75rem;

    // font-weight: bold;
  }
}